<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Playground Level 1</title>
	<style>
		body {
			background-color: LightBlue;
		}
		#wrapper {
			text-align: center;
		}
		h1 {
			color: maroon;
			margin-left: 40px;
		} 
		.box {
			height: 200px;
			width: 200px;
			padding: 15px;
			display: inline-block;
			background: white;
		}
		</style>
</head>
<body>
	<div id="wrapper">
		<h2>Welcome</h2>
		<div class="box" id="box1"></div>
		<div class="box" id="box2"></div>
		<div class="box" id="box3"></div>
	</div>
  </body>
</html>