<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Playground Level 1</title>
	<style>
		body {
			background-color: LightBlue;
		}
		#wrapper {
			text-align: center;
			width: 700px; 
			margin: 0px 200px 200px 200px;
		}
		h1 {
			color: maroon;
			margin-left: 40px;
		} 
		.box {
			height: 200px;
			width: 200px;
			padding: 15px;
			display: inline-block;
			background: {{color}}; 
		}
		</style>
</head>
<body>
	<div id="wrapper">
		<h2>Welcome</h2>
		<div class="box" id="box1">{% for x in range(1,box): %}</div>
		<div class="box" id="box1">{% endfor %}</div>
	</div>
  </body>
</html>